@model HolidayHomesCreateViewModel
<div class="row">
    <div class="col col-lg-6 mx-auto border border-1 rounded rounded-2">
        <h4>Create</h4>
        <form>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId"></label>
                <select asp-for="LocationId" asp-items="@Model.Location" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="HomeTypeId"></label>
                <select asp-for="HomeTypeId" asp-items="@Model.HomeType" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="HomePropertyIds"></label>
                <select asp-for="HomePropertyIds" asp-items="@Model.HomeProperties" class="form-control"></select>
                <span asp-validation-for="HomePropertyIds" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary mt-2 mb-2">Create</button>
        </form>
    </div>
</div>

